* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.coming_soon h2 {
    font-size: 32px;
    font-weight: 800;
}

.web-loader {
    background-color: rgba(0, 0, 0, 0.342);
}

.fixed-loading-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999999;
    background-color: rgba(0, 0, 0, 0.104);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #000;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 0.5s linear infinite;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 15px #bfbfbf;
}

.loader-wrapp {
    margin: 0 auto;
    background-color: #fff;
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.152);
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.loader-logo {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.loader-logo img {
    width: 88%;
    margin: 5px auto 4px auto
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}