.watch_card {
    width: 100%;
}

.watch_card_md {
    cursor: pointer;
    text-decoration: none;
    color: #000;
    display: block;
    transition: .3s ease-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.103);
}

.watch_card_md:hover {
    color: #000;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.349);
}