.cus_navbar {
    padding: 12px 0px;
}

.navLinks {
    text-decoration: none;
    color: gainsboro;
    margin: 0px 20px;
}

.navbar-collapse {
    flex-grow: inherit !important;
}


/* sub navbar  */

.subNavbar_container {
    border: 2px solid gray;
    padding: 15px 0px;
    padding-bottom: 0px;
}

.subNavbar_ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
}

.subNav_link {
    text-decoration: none;
    color: inherit;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 6px 19px
}

.navbar-expand-lg .navbar-nav {
    align-items: center;
}

@media (max-width:991px) {
    .navLinks {
        margin-left: 0px;
        padding: 10px 0px;
    }
}

.cusBtn {
    /* background-color: #f8f9fa; */
    background-color: transparent;
    color: white;
    border: 1px solid #f8f9fa;
    padding: 6px 20px;
    outline: none;
}